.git
.venv
.env
.env.*
**/__pycache__
**/.ipynb_checkpoints
**/node_modules
**/dist
**/test-results
**/playwright-report
**/static/docs/*.docx
R&D
Documents
assets
docs
*.mp4
**/*.safetensors
**/*.pt
**/*.pth
app/backend/fine-tuned-t5-small-sql
app/backend/tinyllama-sql-explainer-full
